<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Users</h1>
      <ul class="list-group mt-3">
        {% for user in users %}
        <li class="list-group-item">{{ user.username }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
